$link-color: #40c4ff;

.btn {
  padding: 10px 20px;

  a {
    color: #fff;
  }
}

.btn-blue {
  color: #fff;
  background-color: $link-color;
}

.btn-white {
  color: $link-color;
  background-color: #fff;
}

a {
  text-decoration: none;
}
