// colors

$link-color: #045d8c;
$p-color: #606264;
$white: #fff;

// buttons
.btn {
  padding: 10px 20px;

  a {
    color: $white;
  }
}

.btn-blue {
  color: $white;
  background-color: $link-color;
}

.btn-white {
  background-color: $white;
  border: 1px solid #e5e5e5;
  a {
    color: $link-color;
  }
}

a {
  text-decoration: none;
}

.button-container {
  position: relative;
}

// datas + p
.datas {
  display: inline-block;
  color: $link-color;
  font-size: 2em;

  h2 {
    font-weight: 900;
    font-size: 2em;
  }
}

main p {
  color: $p-color;
}

p {
  font-size: 1.4em;
}

.pos-left {
  position: absolute;
  left: 96%;
  top: 90%;
}

hr {
  margin: 0;
}
